lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
.idea
.ssh

config.*.json
!config.blacklist.json
!config.promo-codes.json

pids
logs
deps
notes
results
node_modules
nbproject
selenium
site/modules/cms/data/old/*
var/errors.json

npm-debug.log

